/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 oct. 2015, 09:23:13
    Author     : Renyusan
*/


#top {
    position: relative;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    
    -webkit-box-shadow:0px 1px 1px grey;
    -moz-box-shadow:0px 1px 1px grey;
    box-shadow:0px 1px 1px grey;
}

#bottom {
    position: absolute;
    background-color: #c2dfef;
    bottom: 0px;
    padding: 5px;
    
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.connexion-form {
    position: relative;
    vertical-align: middle;
}

.list-content {
    margin-bottom: 80px;
    margin-left: 160px;
    margin-right: 160px;
}

.center_content {
    position: relative;
    background-color: #CECEF6;
    padding: 5px;
}

.content_elem {
    background-color: #CECEF6;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


