/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 oct. 2015, 09:24:06
    Author     : Renyusan
*/

html, body {
    height: 100%;
    position: relative;
    margin: 0px;
}

body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

h2 {
    text-align: center;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

 .LigneRouge {
   background-color: red !important;
   color: black;
     
}
 
.LigneBlanche {
   background-color: whitesmoke !important;
}

.connexion-form {
    margin: auto;
    width: 50%;
    
    height:100%;
    line-height:400px;
    text-align:center;
}

#panel-connexion {
    line-height: normal;
    display:inline-block;
    vertical-align:middle;
}

#page-index {
    background: url(../images/big-ben-at-night-wallpaper-hd-l8yoo.jpg) no-repeat center fixed;
    background-size: cover;
    display: table;
    font-family: "Open Sans",Arial,sans-serif;
    height: 100%;
    width: 100%;
}